*{
    margin: 0;
    padding: 0;
}

.menu {
    height: 40px;
    background: aqua;
    padding-left: 350px;
}

.block1 {
    float: left;
    position: relative;
   
}

.click1 {
    padding: 9px 20px;
    transition: 0.4s;
    cursor: pointer;
}

.click1 i.fa {
    font-size: 15px;
    
}

.display_menu {
    position: absolute;
    width: 250px;
    font-size: 15px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
}

.display_menu:after {
    content: "";
    position: absolute;
    top: -20px;
    width: 0px;
    height: 0px;
    border: 11px rgba(255, 215, 0, 0) solid;
    border-bottom-color: rgb(239, 239, 8) ;
    left: 60px;
}

.violet {
    color: rgb(231, 19, 235);
}

.out_menu1 {
    opacity: 1;
    visibility: visible;
    animation: up 0.5s forwards;
}

@-webkit-keyframes up {
    from{
        transform:translateY(200px);
        opacity:0;
    }

    to{transform:translateY(0px);
        opacity:1;

    }
}